
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.show {display:block;}

.flex-container {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    text-align: center;
}

.flex-container > * {
    padding: 15px;
    -webkit-flex: 1 100%;
    flex: 1 100%;
}

.article {
    text-align: left;
}

header {
	background: black;
	color:white;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
	/* background-image: url("img/starsstripesbanner.jpg");
	background-size: contain;
	background-repeat: repeat-x; */
}
footer {background: #aaa;color:white;}
.nav {background:#eee;}

.nav ul {
    list-style-type: none;
 padding: 0;
}

.nav ul a {
 text-decoration: none;
}

@media all and (min-width: 768px) {
    .nav {text-align:left;-webkit-flex: 1 auto;flex:1 auto;-webkit-order:1;order:1;}
    .article {-webkit-flex:5 0px;flex:5 0px;-webkit-order:2;order:2;}
    footer {-webkit-order:3;order:3;}
}

#splashBackground {
	background-image: url("img/hr-flag.jpg");
	background-size:cover;
}

#searchString {
	color:white;
	text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.contentArea {
    text-align: center;
    background-image: url("img/muricabackground.jpg");
    background-size: cover;
    width: auto;
}

.contentArea h1, h3, p {
    margin: 10px;
    padding: 0;
}

.contentArea p {
    font-size: 1.2em;
}

.transparent {
    display: inline-block;
    background:rgba(255, 255, 255, 0.45);
    width: 70%;
    max-width: 600px;
    border-radius: 5px;
}

.transparent img {
    border-radius: 10px;
}

#textInput {
    width:200px;
    height:25px;
    font-size: .9em;
    border-radius:5px;
}

.button {
    height: 40px;
    width: 30px;
    margin-top:0;
    font-size: 1.1em;
    background-color:rgb(0, 39, 150);
    margin-bottom: 15px;
    border:none;
    color:white;
}

.searchButton:hover {
    background-color: rgba(255, 255, 255, 0.45);
    color:rgb(0, 39, 150);
    border:3px solid rgb(0, 39, 150);
}

.button:hover {
    background-color:rgba(255, 255, 255, 0.45);
    color:rgb(0, 39, 150);
    border:3px solid rgb(0, 39, 150);
}

#textFilter {
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.searchButton {
        margin-top:5px;
        margin-bottom:0;
        height:40px;
        width:140px;
        background-color: rgb(0, 39, 150);
        font-size:.9em;
        border: none;
        color:white;
}